<h4><%= title %></h4>
  <div class="row">
    <div class="col-2">
        <strong>Title</strong>
    </div>
    <div class="col-3">
        <strong>Description</strong>
    </div>
    <div class="col-2">
        <strong>Status</strong>
    </div>
    <div class="col-2">
        <strong>Project</strong>
    </div>
  </div>
