<%= render 'regular_information', title: "Tasks" %>
  <% @tasks.each do |task| %>
    <%= render partial: "main_information", locals: { task: task } %>
  <% end %>
    <% if current_user.admin? %>
    <div class="row">
      <div class="col-12">
        <%= link_to 'New Task', new_task_path, class: "btn btn-outline-success btn-block btn-sm" if current_user.admin? %>
      </div>
    </div>
    <% end %>
