  <div class="row">
    <div class="col-12">
      <h4>Editing Project</h1>
    </div>
  </div>
  <%= render 'form', project: @project %>
  <%= link_to 'Back', :back, class: "btn btn-outline-dark my-2 my-sm-0" %>
